<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Template • TodoMVC</title>
		<link rel="stylesheet" href="node_modules/todomvc-common/base.css">
		<link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
		<!-- CSS overrides - remove if you don't need it -->
		<link rel="stylesheet" href="css/app.css">
	</head>
	<body>
		<section id="app" class="todoapp">
			<header class="header">
				<h1>todos</h1>
			<input @keyup.enter="handleAdd()" v-model="content" class="new-todo" placeholder="What needs to be done?" v-focus>

			</header>
			<section class="main" v-if="list[0]">
				<input v-model="selectAll" id="toggle-all" class="toggle-all" type="checkbox">
				<label for="toggle-all">Mark all as complete</label>
				<ul class="todo-list">
					<li v-show="showList[index]" ref="show" @dblclick="showEdit(index)" :class="{completed:item.isFinish}" v-for="(item,index) in list" :key="item.id">


						<div class="view">
							<input  class="toggle" type="checkbox" :checked="item.isFinish" v-model="item.isFinish">
							<label>{{item.content}}</label>
							<button class="destroy" @click="handleDel(index)"></button>
						</div>
						<input @keyup.esc="handleBack(index)" @keyup.enter="handleEdit(index)" class="edit" v-model="item.content">
					</li>
				</ul>
			</section>
			<footer class="footer" v-if="list[0]">
				
				<span class="todo-count"><strong>{{unfinish}}</strong> item left</span>
				
				<ul class="filters">
					<li>
						<a :class="{selected:hashVal===1}" href="#/">All</a>
					</li>
					<li>
						<a :class="{selected:hashVal===2}" href="#/active">Active</a>
					</li>
					<li>
						<a :class="{selected:hashVal===3}" href="#/completed">Completed</a>
					</li>
				</ul>
				<!-- 当未完成的数据个数与数据总数不一致时，按钮显示，否则隐藏 -->
				<button @click="handleDelAll()" v-if="unfinish !== list.length" class="clear-completed">Clear completed</button>

			</footer>
		</section>
		<footer class="info">
			<p>Double-click to edit a todo</p>
			
			<p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
			
			<p>Created by <a href="http://todomvc.com">you</a></p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</footer>
		
		<script src="node_modules/todomvc-common/base.js"></script>
		
		<script src="./node_modules/vue/dist/vue.js"></script>
		<script src="js/app.js"></script>

	</body>
</html>
